doctype html
head
  meta(charset='utf-8')
  title MENU-belka-obci&aogon;&zdot;enia 
  meta(name='description' content='The HTML5')
  meta(name='Maciej_Marosz' content='IT POL')
  link(rel='stylesheet' href='/css/menu.css')
  link(rel='shortcut icon' href='#')
  link(rel='icon' href='data:;base64,iVBORw0KGgo=')
  script(src='/js/jquery-3.4.1.min.js')
  script
    include ../public/js/menu.js
#menu-for.blink_me  B E L K A 
br
br
ul
  li
    button#zginanie.menu_buttons
      | Obliczanie na moment zginaj&aogon;cy
      span
  br
  li
    button#ugiecie.menu_buttons
      | Ugi&eogon;cie
      span
  br
  li
    button#scinanie.menu_buttons
      | &Sacute;cinanie
      span
  br
  li
    button#rysy.menu_buttons
      | Rysy
      span
